TELEGRAM_SUPPORT_BOT_TOKEN=your-support-bot-token
TELEGRAM_MARKETS_BOT_TOKEN=your-markets-bot-token
TELEGRAM_MARKETS_CHANNEL_ID=@your-markets-channel
TELEGRAM_BOT_API_KEY=skenas-bot-api-key
ADMIN_PHONE_NUMBERS=admin-numbers
CRYPTO_AUTHORIZED_ADMINS=+98933111111
ALLOWED_ORIGINS=allowed-origins
REDIS_HOST=your-redis-host
REDIS_PORT=your-redis-port
REDIS_PASSWORD=your-redis-password
PORT=your-bot-port
SKENAS_API_BASE_URL=your-skenas-api-url
